<!DOCTYPE html>
<html lang="{{site.language}}">

<head>
    <meta charset="{{site.charset}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{wp_title}}</title>
    {{ function('wp_head') }}
</head>
{# Le block custom_body_class permettra d'assigner des classes supplémentaires si nécessaire #}

<body class="{{body_class}} {% block custom_body_class %}{% endblock %}">
    {{wp_body_open}}
    <div id="wrapper">
        <!-- Header -->
        <header id="header">
            <h1><a href="{{site.url}}" title="{{ __('Retour à l\'accueil', 'smfi') }}">{{site.title}}</a></h1>
            <nav class="links">
                <ul>
                    {% for item in primary_menu.items %}
                    <li class="nav-main-item {{ item.classes|join(' ') }}">
                        <a class="nav-main-link" href="{{ item.link }}">{{ item.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
            <nav class="main">
                <ul>
                    <li class="search">
                        <a class="fa-search" href="#search">Search</a>
                        <form id="search" method="get" action="#">
                            <input type="text" name="query" placeholder="Search" />
                        </form>
                    </li>
                    <li class="menu">
                        <a class="fa-bars" href="#menu">Menu</a>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- Menu -->
        {% include "parts/menu.twig" %}


        <div id="main">
            {% block page_title %}{% endblock %}

            {% block main %}

            <!-- Post -->
            {% for post in posts %}
            <article class="post post-{{ post.id }}">
                <header>
                    <div class="title">
                        <h2><a href="{{ post.link }}" title="{{ __('Lire la suite', 'smfi')}}">{{post.title}}</a></h2>
                        <p>Dernière modification : {{post.post_modified | date('j F Y') }}</p>
                    </div>
                    <div class="meta">
                        <time class="published" datetime="{{post.post_date | date('Y-m-d')}}">{{ post.post_date |
                            date('j F Y') }}</time>
                        <a href="{{post.author.link}}" class="author">
                            <span class="name">{{post.author}}</span><img src="{{post.author.avatar}}"
                                alt="{{post.author}}" />
                        </a>
                    </div>
                </header>
                {% if post.thumbnail %}
                <a href="{{ post.link }}" class="image featured">
                    <img src="{{ post.thumbnail.src(medium) }}" alt="" />
                </a>
                {% endif %}
                <div class="post-content">{{post.preview}}</div>
                <footer>
                    <ul class="actions">
                        <li>
                            <a href="{{ post.link }}" class="button large">{{ __('Lire la suite', 'smfi')}}</a>
                        </li>
                    </ul>
                    <ul class="stats">
                        {% for term in post.terms %}
                        <li>
                            <a href="{{term.link}}">{{ term.name | excerpt(30) }}</a>
                        </li>
                        {% endfor %}
                        <li><a href="#" class="icon solid fa-heart">28</a></li>
                        <li><a href="#" class="icon solid fa-comment">{{ post.comment_count }}</a></li>
                    </ul>
                </footer>
            </article>
            {% endfor %}

            {% endblock %}
        </div>
        {% block sidebar %}
        <section id="sidebar">

            <!-- Intro -->
            <section id="intro">
                <a href="#" class="logo"><img src="{{ site_logo[0] }}" alt="{{site.name}}" /></a>
                <header>
                    <h2>{{site.title}}</h2>
                    <p>{{site.description}}</p>
                </header>
            </section>

            <!-- Mini Posts -->
            <section>
                <div class="mini-posts">

                    <!-- Mini Post -->
                    <article class="mini-post">
                        <header>
                            <h3><a href="single.html">Vitae sed condimentum</a></h3>
                            <time class="published" datetime="2015-10-20">October 20, 2015</time>
                            <a href="#" class="author"><img src="{{ theme.path }}/images/avatar.jpg" alt="" /></a>
                        </header>
                        <a href="single.html" class="image"><img src="{{ theme.path }}/images/pic04.jpg" alt="" /></a>
                    </article>

                    <!-- Mini Post -->
                    <article class="mini-post">
                        <header>
                            <h3><a href="single.html">Rutrum neque accumsan</a></h3>
                            <time class="published" datetime="2015-10-19">October 19, 2015</time>
                            <a href="#" class="author"><img src="{{ theme.path }}/images/avatar.jpg" alt="" /></a>
                        </header>
                        <a href="single.html" class="image"><img src="{{ theme.path }}/images/pic05.jpg" alt="" /></a>
                    </article>

                    <!-- Mini Post -->
                    <article class="mini-post">
                        <header>
                            <h3><a href="single.html">Odio congue mattis</a></h3>
                            <time class="published" datetime="2015-10-18">October 18, 2015</time>
                            <a href="#" class="author"><img src="{{ theme.path }}/images/avatar.jpg" alt="" /></a>
                        </header>
                        <a href="single.html" class="image"><img src="{{ theme.path }}/images/pic06.jpg" alt="" /></a>
                    </article>

                    <!-- Mini Post -->
                    <article class="mini-post">
                        <header>
                            <h3><a href="single.html">Enim nisl veroeros</a></h3>
                            <time class="published" datetime="2015-10-17">October 17, 2015</time>
                            <a href="#" class="author"><img src="{{ theme.path }}/images/avatar.jpg" alt="" /></a>
                        </header>
                        <a href="single.html" class="image"><img src="{{ theme.path }}/images/pic07.jpg" alt="" /></a>
                    </article>

                </div>
            </section>

            <!-- Posts List -->
            <section>
                <ul class="posts">
                    <li>
                        <article>
                            <header>
                                <h3><a href="single.html">Lorem ipsum fermentum ut nisl vitae</a></h3>
                                <time class="published" datetime="2015-10-20">October 20, 2015</time>
                            </header>
                            <a href="single.html" class="image"><img src="{{ theme.path }}/images/pic08.jpg"
                                    alt="" /></a>
                        </article>
                    </li>
                    <li>
                        <article>
                            <header>
                                <h3><a href="single.html">Convallis maximus nisl mattis nunc id lorem</a></h3>
                                <time class="published" datetime="2015-10-15">October 15, 2015</time>
                            </header>
                            <a href="single.html" class="image"><img src="{{ theme.path }}/images/pic09.jpg"
                                    alt="" /></a>
                        </article>
                    </li>
                    <li>
                        <article>
                            <header>
                                <h3><a href="single.html">Euismod amet placerat vivamus porttitor</a></h3>
                                <time class="published" datetime="2015-10-10">October 10, 2015</time>
                            </header>
                            <a href="single.html" class="image"><img src="{{ theme.path }}/images/pic10.jpg"
                                    alt="" /></a>
                        </article>
                    </li>
                    <li>
                        <article>
                            <header>
                                <h3><a href="single.html">Magna enim accumsan tortor cursus ultricies</a></h3>
                                <time class="published" datetime="2015-10-08">October 8, 2015</time>
                            </header>
                            <a href="single.html" class="image"><img src="{{ theme.path }}/images/pic11.jpg"
                                    alt="" /></a>
                        </article>
                    </li>
                    <li>
                        <article>
                            <header>
                                <h3><a href="single.html">Congue ullam corper lorem ipsum dolor</a></h3>
                                <time class="published" datetime="2015-10-06">October 7, 2015</time>
                            </header>
                            <a href="single.html" class="image"><img src="{{ theme.path }}/images/pic12.jpg"
                                    alt="" /></a>
                        </article>
                    </li>
                </ul>
            </section>

            <!-- About -->
            <section class="blurb">
                <h2>About</h2>
                <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod
                    amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.
                </p>
                <ul class="actions">
                    <li><a href="#" class="button">Learn More</a></li>
                </ul>
            </section>

            <!-- Footer -->
            <section id="footer">
                <ul class="icons">
                    {% for item in social_menu.items %}
                    {#<pre>{{ dump(item) }}</pre>#}
                    <li>
                        <a class="icon brands fa-{{item.post_name}} {{item.class}}" href="{{ item.link }}">
                            <span class="label">{{ item.title }}</span>
                        </a>
                    </li>
                    {% endfor %}
                    <li><a href="{{site.rss}}" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
                    <li><a href="mailto:{{ function('antispambot', 'site.admin_email') }}"
                            class="icon solid fa-envelope"><span class="label">Email</span></a></li>
                </ul>
                <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a
                        href="http://unsplash.com">Unsplash</a>.</p>
            </section>

        </section>
        {% endblock %}

    </div>

    {{ function('wp_footer') }}
</body>

</html>