<!-- Intro -->
<section id="intro">
    <a href="{{site.url}}" class="logo"><img src="{{ site_logo[0] }}" alt="{{site.name}}" /></a>
    <header>
        <h2>{{site.title}}</h2>
        <p>{{site.description}}</p>
    </header>
</section>